.btn {
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  color: $white;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.7rem 1rem 0.7rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: $white, $amount: 10);
  }

  &.btn-secondary:hover {
    background-color: darken($color: $dark-grey, $amount: 5);
  }

  &.btn-primary:hover {
    background-color: darken($color: $primary, $amount: 5);
  }
}

.btn-primary {
  background-color: $primary;
  border-radius: 0.2rem;

  &:hover {
    background-color: darken($color: $primary, $amount: 15);
  }
  &:disabled {
    background-color: lighten($color: $primary, $amount: 15);
  }
}

.btn-danger {
  background-color: $danger;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: darken($color: $danger, $amount: 10);
  }
}

.btn-block {
  width: 100%;
}

.google-btn {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.3s ease;

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26px;
  }
  .btn-text {
    float: right;
    margin: 11px 23px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}
