*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

.mt-sm {
  margin-top: 0.8rem;
}

.mt-md {
  margin-top: 1.6rem;
}

.mt-lg {
  margin-top: 3.2rem;
}

.mt-xl {
  margin-top: 6.4rem;
}

.mb-sm {
  margin-bottom: 0.8rem;
}

.mb-md {
  margin-bottom: 1.6rem;
}

.mb-lg {
  margin-bottom: 3.2rem;
}

.mb-xl {
  margin-bottom: 6.4rem;
}

.pointer {
  cursor: pointer;
}
